.navigation {
	display: inline;
	margin-bottom: 5px;
	margin-right: 20px;
}
.navigation a {
	margin-right: 10px;
}
.navigation .fa-stack {
	margin-top: -18px;
}
.navigation .user-avatar {
	margin-bottom: -3px;
}
.navigation .user-name {
	font-weight: bold;
	margin-right: 5px;
}
a:link, a:visited {
	text-decoration: none;
	color: black;
}

.pointer {
	cursor: pointer;
}

.user {
	float: left;
	text-align: center;
}
#newUser {
	float: left;
	padding-top: 10px;
	padding-left: 20px;
}

div.format {
	float: right;
}
div.format img {
	width: 150px;
}
th.format img {
	width: 40px;
}

.faded {
	filter: opacity(30%);
}

.card {
	float: left;
	margin-bottom: 20px;
}

.card .number {
	text-align: center;
	margin-top: -40px;
	height: 10px;
	font-weight: bold;
	font-size: 24px;
	position: relative;
	z-index: 10;
}

.card .number i {
	color: lightgray;
	margin: 0 20px;
}

.missing {
	color: darkred;
	font-weight: bold;
}

table {
	/*text-align: right;*/
	border-collapse: collapse;
}
th, td {
	border: 1px solid black;
}
.noborder {
	border: none;
}
.stat1 {
	border-right: none;
	text-align: right;
}
.stat2 {
	border-left: none;
	border-right: none;
	text-align: center;
	padding: 2px 0;
}
.stat3, .stat4 {
	border-left: none;
	text-align: right;
}
.stat3 {
	width: 15px;
}
.stat4 {
	width: 20px;
}
.percent {
	text-align: right;
}
th, td {
	padding: 2px 5px;
}
tr.decks {
	vertical-align: top;
}

.rarity-Gratuite {
	color: gray;
}
.rarity-Rare {
	color: blue;
}
.rarity-Epique {
	color: purple;
}
.rarity-Légendaire {
	color: red;
}

.cardclass {
	font-weight: bold;
}
th.cardclass {
	color: white;
}
.cardclass-Druide {
	background-color: #703606;
}
.cardclass-Chasseur {
	background-color: #016e01;
}
.cardclass-Mage {
	background-color: #0091ac;
}
.cardclass-Paladin {
	background-color: #aa8f00;
}
.cardclass-Prêtre {
	background-color: #c7c1a1;
}
.cardclass-Voleur {
	background-color: #4c4d48;
}
.cardclass-Chaman {
	background-color: #021887;
}
.cardclass-Démoniste {
	background-color: #7624ad;
}
.cardclass-Guerrier {
	background-color: #8e1001;
}

.owned {
	background-color: lightgray;
}
.cardset-Classique {
	background-color: #e6b8af;
}
.cardset-year {
	background-color: #fef3e7;
}
.cardset-current {
	background-color: #fbdab7;
}
