a.icon {
	text-decoration: none;
}
a:link, a:visited {
	color: black;
}

.user {
	float: left;
	text-align: center;
}
#newUser {
	float: left;
	padding-top: 10px;
	padding-left: 20px;
}

div.format {
	float: right;
}
div.format img {
	width: 150px;
}
th.format img {
	width: 40px;
}

.faded {
	filter: opacity(30%);
}

.card .number {
	text-align: center;
	margin-bottom: -15px;
	height: 10px;
	font-weight: bold;
	font-size: 24px;
}

.number {
	position: relative;
	z-index: 10;
}

table {
	/*text-align: right;*/
	border-collapse: collapse;
}
th, td {
	border: 1px solid black;
}
th.noborder {
	border: none;
}
th, td {
	padding: 2px 5px;
}

.rarity-Gratuite {
	color: gray;
}
.rarity-Rare {
	color: blue;
}
.rarity-Epique {
	color: purple;
}
.rarity-Légendaire {
	color: red;
}

.cardclass {
	font-weight: bold;
}
th.cardclass {
	color: white;
}
.cardclass-Druide {
	background-color: #703606;
}
.cardclass-Chasseur {
	background-color: #016e01;
}
.cardclass-Mage {
	background-color: #0091ac;
}
.cardclass-Paladin {
	background-color: #aa8f00;
}
.cardclass-Prêtre {
	background-color: #c7c1a1;
}
.cardclass-Voleur {
	background-color: #4c4d48;
}
.cardclass-Chaman {
	background-color: #021887;
}
.cardclass-Démoniste {
	background-color: #7624ad;
}
.cardclass-Guerrier {
	background-color: #8e1001;
}

.owned {
	background-color: lightgray;
}
.cardset-Classique {
	background-color: #e6b8af;
}
.cardset-current {
	background-color: #fce5cd;
}
