.faded {
	filter: opacity(30%);
}

.card .number {
	text-align: center;
	margin-bottom: -15px;
	height: 10px;
	font-weight: bold;
	font-size: 24px;
}

.number {
	position: relative;
	z-index: 10;
}

table {
	text-align: right;
}

.rarity-Gratuite {
	color: gray;
}
.rarity-Rare {
	color: blue;
}
.rarity-Epique {
	color: purple;
}
.rarity-Légendaire {
	color: red;
}
.cardclass {
	font-weight: bold;
}
