<div class="navigation">
	{{#link-to 'index' title="Accueil"}}
		<i class="fas fa-home pointer fa-2x"></i>
	{{/link-to}}

	{{#link-to 'decks' class="fa-stack fa-1x" title="Importer un deck"}}
		<i class="fas fa-layer-group fa-stack-2x"></i>
		<i class="fas fa-long-arrow-alt-down fa-stack-2x" style="color: green;"></i>
	{{/link-to}}
</div>

{{outlet}}
