Login.hbs
<form {{action 'authenticate' on='submit'}}>
	{{input id='login' placeholder='Login' value=login}}
	{{input id='password' placeholder='Mot de passe' type='password' value=password}}
	<button type="submit">Connexion</button>
	{{#if errorMessage}}
		<p>{{errorMessage}}</p>
	{{/if}}
</form>
