<div class="navigation">
	<img src={{concat "https://robohash.org/" model.name ".png?size=42x42"}} class="user-avatar"/>

	<span class="user-name">{{model.name}}</span>

	{{#link-to 'user.collection' model.id title="Collection"}}
		<i class="fas fa-th pointer fa-2x"></i>
	{{/link-to}}

	{{#link-to 'user.missing' model.id class="fa-stack fa-1x" title="Collection manquante"}}
		<i class="fas fa-th fa-layer-group fa-stack-2x"></i>
		<i class="fas fa-times fa-stack-2x" style="color: darkred;"></i>
	{{/link-to}}

	{{#link-to 'user.wanted' model.id title="Recherchées"}}
		<i class="fas fa-heart pointer fa-2x"></i>
	{{/link-to}}

	{{#link-to 'user.decks' model.id title="Decks"}}
		<i class="fas fa-layer-group pointer fa-2x"></i>
	{{/link-to}}

	{{#link-to 'user.stats' model.id title="Stats"}}
		<i class="fas fa-percent pointer fa-2x"></i>
	{{/link-to}}
</div>

<hr/>

{{outlet}}
